bcrypt
charmed-kubeflow-chisme
coverage
# Workaround for https://github.com/python-jsonschema/jsonschema/issues/1117
# and https://github.com/python-jsonschema/jsonschema/issues/1114
jsonschema<4.19
ops
pytest
pytest-mock
pytest-lazy-fixture
pyyaml
serialized-data-interface
