aiohttp
jinja2
# Pinning to <4.0 due to compatibility with the 3.1 controller version
juju<4.0
lightkube
pytest-operator
pyyaml
requests
# Pinning to <4.11 because upgrading to 4.11.2 results in chrome version compatibility issue. See https://github.com/canonical/dex-auth-operator/issues/151.
selenium<4.11
selenium-wire
tenacity
# This is required due to the abstraction of cos integration
# "charmed-kubeflow-chisme" pinned to avoid closed "latest" tracks with COS charms, see:
# https://github.com/canonical/charmed-kubeflow-chisme/issues/155
charmed-kubeflow-chisme>=0.4.11
