aiohttp
jinja2
# Pinning to <4.0 due to compatibility with the 3.1 controller version
juju<4.0
lightkube
pytest-operator
pyyaml
requests
# Pinning to <4.11 because upgrading to 4.11.2 results in chrome version compatibility issue. See https://github.com/canonical/dex-auth-operator/issues/151.
selenium<4.11
selenium-wire
tenacity
