# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
bcrypt
# "charmed-kubeflow-chisme" pinned to avoid closed "latest" tracks with COS charms, see:
# https://github.com/canonical/charmed-kubeflow-chisme/issues/155
charmed-kubeflow-chisme>=0.4.11
jinja2
lightkube
ops
# This is required by the dex-oidc-config library
pydantic
serialized-data-interface
# from prometheus_k8s.v0.prometheus_scrape.py
cosl
