# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.

# need this fix but it is not yet released
# https://github.com/juju/python-libjuju/pull/696
git+https://github.com/juju/python-libjuju.git@80eb84e008df35c4398fe66ed161e080e3340ae5
bcrypt<3.3
black
flake8<4.1
flake8-copyright<0.3
pytest<6.3
pyyaml<6.1
pytest-mock
selenium
selenium-wire
tenacity<9
