# reusable workflow triggered by other actions
name: Tests

on:
  workflow_call:
    secrets:
      charmcraft-credentials:
        required: true

jobs:

  lib-check:
    name: Check libraries
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@2.1.1
        with:
          credentials: "${{ secrets.charmcraft-credentials }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"

  lint:
    name: Lint
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - run: pip install tox
    - run: tox -vve lint

  unit-test:
    name: Unit
    runs-on: ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - run: pip install tox
      - run: tox -e unit

  integration-test:
    name: Integration
    runs-on: ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup operator environment
        uses: claudiubelu/actions-operator@18ebf92ae3043bd3dd15238e5d9b662d7ba08daf
        with:
          provider: microk8s
          channel: 1.22/stable
          # Pinned until this bug is resolved: https://bugs.launchpad.net/juju/+bug/1992833
          bootstrap-options: "--agent-version=2.9.34"
          microk8s-addons: "dns storage rbac metallb:10.64.140.43-10.64.140.49"

      # https://github.com/charmed-kubernetes/actions-operator/issues/27
      - run: sudo snap refresh charmcraft --channel latest/candidate

      - name: Run test
        run: |
          sg microk8s -c "microk8s enable rbac ingress metallb:10.64.140.43-10.64.140.49"
          # Requires the model to be called kubeflow due to this bug:
          # https://github.com/kubeflow/kubeflow/issues/6136
          juju add-model kubeflow
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install ./google-chrome-stable_current_amd64.deb
          sudo apt-get install chromium-chromedriver
          sg microk8s -c "tox -e integration -- --model kubeflow"

      - name: Get istio gateway
        run: kubectl get gateway -A
        if: failure()

      - name: Get virtual services
        run: kubectl get virtualservices -A
        if: failure()

      - name: Get juju status
        run: juju status --relations
        if: failure()

      - name: Get oidc-gatekeeper workload logs
        run: kubectl logs -l app.kubernetes.io/name=oidc-gatekeeper -n kubeflow
        if: failure()

      - name: Get oidc-gatekeeper operator logs
        run: kubectl logs -l operator.juju.is/name=oidc-gatekeeper -n kubeflow
        if: failure()

      - name: Get dex container logs
        run: kubectl logs dex-auth-0 -c dex -n kubeflow
        if: failure()

      - name: Get dex container config
        run: kubectl exec -it dex-auth-0 -c dex -n kubeflow -- cat /etc/dex/config.docker.yaml
        if: failure()

      - name: Upload selenium screenshots
        uses: actions/upload-artifact@v2
        with:
          name: selenium-screenshots
          path: /tmp/selenium-*.png
        if: failure()
