# reusable workflow triggered by other actions
name: Tests

on:
  workflow_call:
    secrets:
      charmcraft-credentials:
        required: true

jobs:

  lib-check:
    name: Check libraries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@1.0.3
        with:
          credentials: "${{ secrets.charmcraft-credentials }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - run: pip install tox
    - run: tox -vve lint

  unit-test:
    name: Unit
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - run: pip install tox
      - run: tox -e unit

  integration-test:
    name: Integration
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
            provider: microk8s
            # TODO: Change to 1.22 once https://github.com/juju/python-libjuju/issues/684 is fixed
            channel: 1.21/stable

      # https://github.com/charmed-kubernetes/actions-operator/issues/27
      - run: sudo snap refresh charmcraft --channel latest/candidate

      - name: Run test
        run: |
          sg microk8s -c "microk8s enable rbac ingress metallb:10.64.140.43-10.64.140.49"
          # Requires the model to be called kubeflow due to this bug:
          # https://github.com/kubeflow/kubeflow/issues/6136
          juju add-model kubeflow
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install ./google-chrome-stable_current_amd64.deb
          sudo apt-get install chromium-chromedriver
          sg microk8s -c "tox -e integration -- --model kubeflow"

      - name: Get istio gateway
        run: kubectl get gateway -A
        if: failure()

      - name: Get juju status
        run: juju status
        if: failure()

      - name: Upload selenium screenshots
        uses: actions/upload-artifact@v2
        with:
          name: selenium-screenshots
          path: /tmp/selenium-*.png
        if: failure()
